.home-5.home-6 .main-navigation ul li a {
    padding: 18px 55px 18px 0px;
    font-size: large;
}

#lw-alert {
    display: none;
    background: rgba(53, 157, 35, 0.8);
    border: #18911b;
    color: #00540b;
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 20px;
}

.home-10 .header_account_area {
    justify-content: flex-end !important;
}

.breadcrumb-area {
    padding: 70px 0 !important;
}

.breadcrumb-content {
    background-color: #000000ba;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
}

.breadcrumb-hrading, .breadcrumb-links, .breadcrumb-links li a {
    color: white !important;
}

.inner-link:hover {
    color: #999;
}

.inner-link a {

    color: #999 !important;
}